.login-form-container {
  width: 30%;
  min-width: 300px;
  margin-top: 15vh;
  margin-bottom: 20px;
}

.submit {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  padding: 12px;
}

.footer-container-form {
  /* position: fixed;
  bottom: 0;
  right: 0;
  left: 0; */
}
