@media only screen and (max-width: 548px) {
  .profile-layout {
    flex-direction: column;
    align-items: center;
  }
}

h5 {
  color: #343738;
}

.profile-banner {
  width: 100%;
  height: 200px;
  opacity: 80%;
  object-fit: cover;
  object-position: center;
}

.banner-overlay {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.6);
}

.profile-label {
  padding: 1px 8px;
  border-radius: 10px;
  border: 1.5px solid #d7d7d7;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

/* Estilos do form do modal */

.content {
  display: flex;
}

.content form {
  flex: 1;
  margin-right: 5px;
}

.content form input,
.content form textarea,
.content form button,
.content form select {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
