@import url("../assets/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

@media (width <= 630px) {
  .navbar-setup {
    padding: 10px 2rem;
    flex-direction: column;
  }
}

@media (width <= 460px) {
  .filler-column {
    display: none;
  }
}

* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.navbar-setup {
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #07857a;
  box-shadow: 0px 5px 10px -1px rgba(185, 183, 183, 0.61);
  color: #ffffff;
  z-index: 2;
}

.rightside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.navbar-profile-pic {
  border-radius: 50px;
  width: 50px;
}

.buttonsNav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonsNav button {
  border: none;
  color: white;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 300ms;
  border-bottom: 0px solid #05544d;
}

.buttonsNav button:hover {
  border-bottom: 5px solid #05544d;
  transform: translateY(-5px);
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #07857a;
  color: white !important;
}

footer {
  background-color: #07857a;
  border-top: none;
  color: white;
}

.color-white {
  color: white !important;
}
